{% extends 'layout.njk' %}

{% block head %}

    <title>Page Not Found</title>

{% endblock head %}

{% block content %}

    <div id="wrapper">
        <img src="https://pbs.twimg.com/profile_images/1271517147349626881/Mf1UjRa0_400x400.jpg"
                alt="Rocketseat">
        <h1>OOPS!</h1>
        <h2>Não encontramos esta página :(</h2>
    </div>

{% endblock content %}